<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>My Dashboard | Simple URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/fontawesome/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/sweetalert2/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/alertify-js/css/alertify.min.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/alertify-js/css/themes/default.min.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/alertify-js/css/themes/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/public/vendor/alertify-js/css/themes/bootstrap.min.css">
</head>
<body>

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Admin Panel</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-panel">Dashboard</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-panel/urls/all">All
        Shortened
        Links</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin-panel/urls">My
        Shortened Links</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3"
         href="/admin-panel/users/all">Users</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" class="bg-light">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <button class="btn btn-primary fa fa-list" id="sidebarToggle"></button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
              <!--/*@thymesVar id="user" type="edu.pucmm.eict.urlshortener.users.User"*/-->
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false" th:text="'Welcome, ' + ${ user.username }"></a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/my-account">Account Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="shadow-sm p-3 mb-4 bg-body rounded text-center">
      <h1 class="fs-2 display-6">Users</h1>
    </header>
    <div class="container-fluid">
      <!-- Page content-->
      <main id="urls" class="container-fluid mt-4">

        <!--/*@thymesVar id="successOnDeletingUser" type="java.lang.Boolean"*/-->
        <section th:if="${ successOnDeletingUser }" class="alert alert-success mb-4 alert-dismissible fade show"
                 role="alert">
          <p class="text-center" th:text="${ successOnDeletingUser }"></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </section>

        <!--/*@thymesVar id="errorOnDeletingUser" type="java.lang.Boolean"*/-->
        <section th:if="${ errorOnDeletingUser }" class="alert alert-danger mb-4 alert-dismissible fade show"
                 role="alert">
          <p class="text-center" th:text="${ errorOnDeletingUser }"></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </section>

        <!--/*@thymesVar id="successOnUpdatingPrivileges" type="java.lang.Boolean"*/-->
        <section th:if="${ successOnUpdatingPrivileges }" class="alert alert-success mb-4 alert-dismissible fade show"
                 role="alert">
          <p class="text-center" th:text="${successOnUpdatingPrivileges}"></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </section>

        <!--/*@thymesVar id="errorOnUpdatingPrivileges" type="java.lang.Boolean"*/-->
        <section th:if="${ errorOnUpdatingPrivileges }" class="alert alert-danger mb-4 alert-dismissible fade show"
                 role="alert">
          <p class="text-center" th:text="${errorOnUpdatingPrivileges}"></p>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </section>

        <!--/* Print no URLs in system if there are no results  */-->
        <!--/*@thymesVar id="userPage" type="edu.pucmm.eict.urlshortener.persistence.Page"*/-->
        <section th:if="${ userPage.isEmpty() }" class="alert alert-warning mb-4">
          <p class="text-center">There aren't any users in the program</p>
        </section>

        <!--/* Print table, otherwise */-->
        <section th:if="${ !userPage.isEmpty() }">
          <div class="card p-1 mb-3" th:each="user : ${ userPage.results }">
            <div class="card-body">
              <div class="row container-fluid">
                <div class="col-12">
                  <ul class="list-group list-group-flush text-sm-center text-md-start">
                    <li class="list-group-item" th:text="'Name: ' + ${ user.name } + ' ' + ${ user.lastname}"></li>
                    <li class="list-group-item" th:text="'Username: ' + ${ user.username }"></li>
                    <li class="list-group-item" th:text="'Email: ' + ${ user.email }"></li>
                    <li class="list-group-item" th:text="'Joined at: ' + ${ user.joinedAt }"></li>
                    <li class="list-group-item d-grid gap-2 d-sm-block d-md-block d-lg-block">
                      <a th:if="${ user.isAdmin() }" th:href="'/admin-panel/users/' + ${ user.username } + '/remove-privileges'"
                         class="btn btn-warning remove-privileges" target="_blank" th:data-username="${user.username}">Remove Privileges</a>
                      <a th:unless="${ user.isAdmin() }" th:href="'/admin-panel/users/' + ${ user.username } + '/grant-privileges'"
                         class="btn btn-primary grant-privileges" th:data-username="${user.username}" target="_blank">Grant Privileges</a>
                      <a th:href="'/admin-panel/users/' + ${ user.username } + '/delete'"
                         class="btn btn-danger delete-user" th:data-username="${user.username}">Delete User</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="card" th:if="${ !userPage.isEmpty() }"
             th:with="before=${ userPage.currentPage - 1 }, next=${userPage.currentPage + 1}">
          <div class="card-body">
            <nav aria-label="pagination-controls"
                 th:with="beforeLink='/admin-panel/users/all?page='+${before}, nextLink='/admin-panel/users/all?page='+${next}">
              <ul class="pagination justify-content-end">
                <li class="page-item" th:classappend="${ userPage.isFirst() } ? disabled : enabled">
                  <a class="page-link" th:href="${beforeLink}" aria-label="Previous"
                     th:tabindex="${ userPage.isFirst() } ? -1 : 0">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" th:classappend="${ userPage.isLast() } ? disabled : enabled">
                  <a class="page-link" th:href="${nextLink}" aria-label="Next"
                     th:tabindex="${ userPage.isLast() } ? -1 : 0">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<script type="text/javascript" src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/vendor/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="/public/vendor/alertify-js/alertify.min.js"></script>
<script type="text/javascript" src="/public/js/navbar.js"></script>
<script type="text/javascript" src="/public/js/users.js"></script>
</body>
</html>
