.blue-gradient {
    background-image: linear-gradient(to right top, #193c73, #193c73, #193c73, #193c73, #193c73);
}

.light-blue-gradient {
    background-image: linear-gradient(to right, #0575e6, #0575e6, #0575e6, #0575e6, #0575e6);
}

.light-blue-color {
    color: #0575e6;
}