<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Simple Url Shortener</title>
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/fa/css/all.min.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/vendor/sweetalert2/sweetalert2.min.css">
</head>
<body>

<header>
  <nav class="navbar navbar-expand navbar-light bg-light p-3">
    <div class="container">
      <a class="navbar-brand" href="/">Simple Url Shortener</a>
      <ul class="navbar-nav list-inline">
        <li class="nav-item list-inline-item">
          <a class="btn btn-outline-dark" href="/app/login">Log in</a>
        </li>
        <li class="nav-item list-inline-item">
          <a class="btn btn-outline-dark" href="/app/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <div class="container mt-5 mb-5">
    <section class="row mb-5">
      <div class="col">
        <h1 class="text-center">Start shorting your links</h1>
        <p class="text-center lead mb-0"> A Simple Url Shortener to short links and track statistics.</p>
      </div>
    </section>

    #set($errorsUrl = $formErrors.get('url'))
    <section class="row mb-3">
      <div class="col">
        <form method="post" action="/short" accept-charset="UTF-8">
          <div class="input-group  #if($errorsUrl) has-validation #end">
            <input id="url" name="url" type="text" class="form-control form-control-lg #if($errorsUrl) is-invalid #end"
                   placeholder="Enter your long link here." required/>
            <button class="input-group-text" type="submit">Shorten</button>
            #if($errorsUrl)
              #foreach($error in $errorsUrl)
                <div class="invalid-feedback">$error</div>
              #end
            #end
          </div>
        </form>
      </div>
    </section>

    <section class="row justify-content-center">
      <p class="text-center">
        By clicking SHORTEN, you are agreeing to Simple Url Shortener
        <a href="/terms-of-service">Terms of Service and Privacy Policy</a>
      </p>
    </section>
  </div>
</main>

  #if($urls)
  <section id="my-links" class="container">
    #foreach($url in $urls)
      <div class="row justify-content-center align-items-center">
        <div class="col-12 #if($velocityCount % 2 != 0) bg-light #else bg-white #end rounded-3 p-3">
          <div class="row container-fluid mx-auto">
            <!-- Name URL -->
            <div class="col-12 col-md-4 col-lg-4 original-url text-center mb-2">
              <p>$url.Name</p>
            </div>
            <!-- Redirect URL -->
            <div class="col-12 col-md-5 col-lg-5 shorten-url text-center mb-3">
              <a href="$url.NewUrl" target="_blank">$url.NewUrl</a>
            </div>
            <!-- QR Code -->
            <div class="col-12 col-md-1 col-lg-1 url-actions d-grip gap-2 mb-2">
              <a class="btn btn-sm d-block btn-outline-dark">
                <i class="fa fa-chart-pie fs-6"></i>
              </a>
            </div>
            <div class="col-12 col-md-1 col-lg-1 url-actions d-grip gap-2 mb-2">
              <a class="btn btn-sm d-block btn-outline-dark qr-code" data-code-id="$url.Code">
                <i class="fa fa-qrcode fs-6"></i>
              </a>
            </div>
            <div class="col-12 col-md-1 col-lg-1 url-actions d-grip gap-2 mb-2">
              <a class="btn btn-sm d-block btn-outline-dark" data-clipboard-text="$url.NewUrl">
                <i class="fa fa-copy fs-6"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    #end

  </section>
  #end

<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/popperjs/popper.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="/vendor/clipboard/clipboard.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>