#* @vtlvariable name="adminReport" type="edu.pucmm.eict.reports.AdminReport" *#
#* @velocityproperties path="../../../application.properties" runtime_root="../../../../resources" *#

#parse("templates/dashboard/admin/navbar.vm")
#parse("templates/dashboard/admin/sidebar.vm")

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Admin Panel</title>

  ## Bootstrap + + favicon + FA
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/vendor/fa/css/all.min.css">

  ## Sweet Alert 2 JS
  <link rel="stylesheet" type="text/css" href="/vendor/sweetalert2/sweetalert2.min.css">

  ##  Alertify JS
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/alertify.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/default.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/bootstrap.min.css">
</head>
<body>

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  #sidebar()
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" class="bg-light">
    <!-- Top navigation-->
    #navbar()
    <header class="shadow-sm p-3 mb-4 bg-body rounded text-center">
      <h1 class="fs-2 display-6">Dashboard</h1>
    </header>
    <!-- Page content-->
    <div class="container-fluid">
      <main id="report" class="container mt-4">
        <div class="row p-2">
          <div class="col-sm mb-3 me-3 shadow-sm p-2 bg-body rounded">
            <p class="text-center mb-0 p-0 fs-4 display-3 fw-bold">$adminReport.totalClicks</p>
            <p class="lead text-center">Clicks</p>
          </div>

          <div class="col-sm mb-3 me-3 shadow-sm p-2 bg-body rounded">
            <p class="text-center mb-0 p-0 fs-4 display-3 fw-bold">$adminReport.TotalUsers</p>
            <p class="lead text-center">Users</p>
          </div>

          <div class="col-sm mb-3 me-3 shadow-sm p-2 bg-body rounded">
            <p class="text-center mb-0 p-0 fs-4 display-3 fw-bold">$adminReport.TotalLinks</p>
            <p class="lead text-center">Shortened URLs</p>
          </div>

          <div class="col-sm mb-3 me-3 shadow-sm p-2 bg-body rounded">
            <p class="text-center mb-0 p-0 fs-4 display-3 fw-bold">$adminReport.TotalLinksLastDay</p>
            <p class="lead text-center">Shortened URLs last 24 hours</p>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/popperjs/popper.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="/vendor/alertifyjs/alertify.min.js"></script>
</body>
</html>