#* @vtlvariable name="deleteError" type="java.lang.String" *#
#* @vtlvariable name="privilegeError" type="java.lang.String" *#
#* @vtlvariable name="userPage" type="edu.pucmm.eict.common.Page" *#
#* @vtlvariable name="user" type="edu.pucmm.eict.users.User" *#
#* @velocityproperties path="../../../application.properties" runtime_root="../../../../resources" *#

#parse("templates/dashboard/admin/navbar.vm")
#parse("templates/dashboard/admin/sidebar.vm")

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <title>Users | Simple URL Shortener</title>

  ## Bootstrap + + favicon + FA
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/vendor/fa/css/all.min.css">

  ## Sweet Alert 2 JS
  <link rel="stylesheet" type="text/css" href="/vendor/sweetalert2/sweetalert2.min.css">

  ##  Alertify JS
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/alertify.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/default.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/vendor/alertifyjs/css/themes/bootstrap.min.css">
</head>
<body>

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  #sidebar()
  <!-- Page content wrapper-->
  <div id="page-content-wrapper" class="bg-light">
    <!-- Top navigation-->
    #navbar()
    <!-- Page content-->
    <header class="shadow-sm p-3 mb-4 bg-body rounded text-center">
      <h1 class="fs-2 display-6">Users</h1>
    </header>
    <main id="users" class="container mt-4">
      #if($deleteError)
        <div id="delete-error" class="alert alert-danger">$deleteError</div>
      #end
      #if($privilegeError)
        <div id="privilege-error" class="alert alert-danger">$privilegeError</div>
      #end
      <div class="row container-fluid justify-content-center">
        <div class="col-md-12 col-lg-12">
          #if(!$userPage.empty)
            ## Creación de las filas para datos
            #foreach($user in $userPage.results)
              <section class="card mb-1">
                <div class="card-body">
                  <div class="row container-fluid">
                    <div class="col-sm-12 col-md-2 mb-3 d-flex align-items-center justify-content-center">
                      #if($user.isAdmin())
                        <li class="fa fa-user-nurse fa-5x"></li>
                      #else
                        <li class="fa fa-user fa-5x"></li>
                      #end
                    </div>
                    <div class="col-sm-12 col-md-10 user-info">
                      <ul class="list-group list-group-flush text-sm-center text-md-start text-lg-start">
                        <li class="list-group-item">User: $user.username</li>
                        <li class="list-group-item">Name: $user.name $user.lastname</li>
                        <li class="list-group-item mb-3">Email: $user.email</li>
                        <li class="list-group-item d-grid gap-2 d-sm-block d-md-block d-lg-block">
                          #if($user.isAdmin())
                            <a class="btn btn-warning take-privileges"
                               href="/app/admin-panel/users/$user.id/remove-privileges">Take
                              privileges</a>
                          #else
                            <a class="btn btn-info grant-privileges"
                               href="/app/admin-panel/users/$user.id/grant-privileges">Grant
                              privileges</a>
                          #end
                          <a class="btn btn-danger delete-user" href="/app/admin-panel/users/$user.id/delete">Delete</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
            #end
            <div class="card">
              <div class="card-body">
                #set($before = $userPage.currentPage - 1)
                #set($next = $userPage.currentPage + 1)
                <nav aria-label="pagination-controls">
                  <ul class="pagination justify-content-end">
                    <li class="page-item #if($userPage.first) disabled #end">
                      <a class="page-link" #if($userPage.first) tabindex="-1" #end
                         href="/app/admin-panel/users?page=$before" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item #if($userPage.last) disabled #end">
                      <a class="page-link" #if($userPage.last) tabindex="-1" #end
                         href="/app/admin-panel/users?page=$next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          #else
            <div class="alert alert-warning text-center">
              <p>There are no users in the system.</p>
            </div>
          #end
        </div>
      </div>
    </main>
  </div>
</div>
</div>

<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/popperjs/popper.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="/vendor/alertifyjs/alertify.min.js"></script>
<script type="text/javascript" src="/js/users.js"></script>
</body>
</html>